.div-list {
    padding: 16px;
    ion-item {
        div.item-native {
            padding-left: 0px;
        }
        margin-top: 8px;
        ion-button {
            margin-left: 4px;
            margin-right: 0px;
        }
    }
}
